In [1]:
# 문제 설명
# 길이가 n이고, "수박수박수박수...."와 같은 패턴을 유지하는 문자열을 리턴하는 함수, solution을 완성하세요. 예를들어 n이 4이면 "수박수박"을 리턴하고 3이라면 "수박수"를 리턴하면 됩니다.

# 제한 조건
# n은 길이 10,000이하인 자연수입니다.

# 입출력 예
# n	return
# 3	"수박수"
# 4	"수박수박"#

In [2]:
def solution(n):
    answer = ''
    
    for idx in range(n): #n만큼의 길이를 반복
        if idx % 2 == 0: # answer에 넣을 글자가 홀수번째라면
            answer += '수' 
        else:            # answer에 넣을 글자가 짝수번째라면
            answer += '박'
    return answer

In [5]:
print("n이 3인 경우: " + solution(3));
print("n이 4인 경우: " + solution(4));

n이 3인 경우: 수박수
n이 4인 경우: 수박수박

In [6]:
# another answer

In [7]:
def solution2(n):
    s = "수박" * n
    return s[:n] #[:n] 리스트 처음부터 n-1 인덱스까지 출력

In [8]:
print("n이 3인 경우: " + solution2(3));
print("n이 4인 경우: " + solution2(4));

n이 3인 경우: 수박수
n이 4인 경우: 수박수박