- 문제 설명
    자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
    예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

- 제한사항
N의 범위 : 100,000,000 이하의 자연수

- 입출력 예
N	answer
123	6
987	24


- 입출력 예 #1
문제의 예시와 같습니다.

- 입출력 예 #2
9 + 8 + 7 = 24이므로 24를 return 하면 됩니다.

In [1]:
def solution(n):
    new = str(n)
    add = 0
    for i in range(len(new)):
        add += int(new[i])
    return add

In [8]:
print("결과 : {}".format(solution(123)));

결과 : 6

In [12]:
print("결과 : {}".format(solution(987)));

결과 : 24

In [9]:
# another answer

In [13]:
def sum_digit(number):
    return sum([int(i) for i in str(number)])

In [14]:
print("결과 : {}".format(sum_digit(123)));

결과 : 6

In [15]:
print("결과 : {}".format(sum_digit(987)));

결과 : 24